@charset "utf-8";
/* Footer CSS Document */

/*
-------------------
	Font style
-------------------	
*/

.FooterText, a.LeftTextNavigation {
	font-family: Rajdhani;
   	font-weight: normal;	
	font-size: 17px;
	text-decoration: none;
}

.FooterText {
	color: #000000;	
}

a.LeftTextNavigation:link, a.LeftTextNavigation:visited, a.LeftTextNavigation:hover, a.LeftTextNavigation:active {
	color: #067A8E;
}

/*
------------------------------
	Footer main CSS
------------------------------	
*/

.footerContainer {
	position: absolute;	
	bottom: 0;
	min-height: 150px;
	background-color: #FFFFFF;
	width: 100%;
}

.footerItems {
	top: 10px;
	position: relative;
	margin: 0 11%;	
}

a.LeftTextNavigation {
	position: relative;
	left: 20px;
	margin-left: 15px;
	font-size: 18px;	
}

/*
------------------------------
	Footer - Left Side
------------------------------	
*/

#footerLogo {
	position: absolute;
	top: 6px;
	text-align: left;
	font-family: Chivo;
	font-size: 8px;	
	color: #176583;
}

#footerLeftSide {
	position: absolute;
	top: 25px;
	left: 2px;
}

/*
------------------------------
	Footer - Center
------------------------------	
*/

#footerCenter {
	position: absolute;
	right: 0;
	top: 90px;
	marigin: 0 40%;
	left: -100px;
	text-align: center;
}

a#footerSplitter:before {
   	content: "|";
	position: relative;
	left: 20px;
	margin-left: 15px;
	font-size: 23px;
}

/*
------------------------------
	Footer - Right Side
------------------------------	
*/

#footerRightSide {
	position: absolute;
	top: 3px;
	right: 0;
	text-align: right;
}

img {
	position: relative;
	width: 20px;
	top: -10px;
	height: 20px; 
	margin: 0 10px;
	padding-right: 8px;
}