@charset "utf-8";
/* Main CSS Document */

/*
-------------------
	Font style
-------------------	
*/

.ContentText {
	font-family: Rajdhani;
   	font-weight: normal;	
	font-size: 17px;
	color: #000000;	
}

/*
------------------------
	Content CSS
------------------------
*/

html, body
{
	background-color: #F5F5F5;	
}

html { 
	height: 100%; 
	width: 100%;
	overflow: hidden;
	}
	
body {
    height:100%;
    min-height: 100%;
	margin: 0;
    position:relative;
}

.navigationHead {
	left: 0;
	height: 65px;
	background-color: #353635;
}

.menuIconNavigation {	
	color: #ffffff;
}

 .contentContainer {
	height: 100%;
    margin: 0 auto;
    align-content: center;
	max-width: 1500px; 
}

#content {
	box-sizing: border-box;
    height:100%;
	width: 100%;
    overflow: hidden;
	padding-top: 65px;
	padding-bottom: 150px;
	align-content: center;
	margin: 0 auto;
}

#content #scrollableContent {
    height: 100%;
    width: 100%;
    overflow: auto;
}

hr { 
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(3,100,116,0.9), rgba(0, 0, 0, 0));
}

/*
------------------------
	Pusheen Cat images CSS
------------------------
*/

.pusheenCat {
	padding-top: 4%;
	padding-bottom: 4%;
	margin: auto;
	display: block;
	height: 350px;
	width: 350px;
}

#pusheenCat404 {
	padding: 0;
}
