/*
----------------------------------
	Blog Maps CSS style start here
----------------------------------	
*/

.bodyContainer {	
	height: auto;
	padding-bottom: 10px;
    margin:0 auto;
    align-content: center;
}

#map {
    width: 100%; 
    height: 450px;
}

main, .bodyContainer {
    max-width: 1500px;
}

